.ScrollingText{
    position: fixed;
    min-height: 300px;
    min-width: 80px;
    top:50%;
    transform: translateY(-50%);
    right: 20px;
    background-color: hsl(0, 0%, 100%);
    padding: 10px;
    transition: 0.5s;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 15px rgb(59, 57, 57); 
}
/* .ScrollingTextTogle{
    
} */
.ScrollingActive{
    min-width: 30px;
}
.ScrollingText p{
    position: absolute;
    top: 100%;
    color: #07252d;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* text-shadow: 0 0 10px #03bcf4,0 0 20px #03bcf4; */
    animation: scrollingGlow 17s linear infinite;
}
@keyframes scrollingGlow{
    0%{
        top: 100%;
    }
    100%{
        top: -200px;
    } 
}