.Section2Container{
    background-color: #e0e0e0;
    display: flex;
    flex-direction: column;
    /* padding: 0 90px; */
    
}
.Section2InnerContainer{
    display: flex;
    flex-direction: row;
    /* background-color: blue; */
    min-height:400px;
    max-height: 400px;
}
.Section2ImageBox:nth-child(1){
    background: url('../rec/img1.jfif');
    background-position: center;
    background-size: cover;
    /* height: 100%; */
}
.Section2ImageBox:nth-child(2){
    background: url('../rec/img2.jfif');
    background-position: center;
    background-size: cover;
}

.Section2ImageBox,.Sectio2ContentBox{
    width: 50%;
}

.Sectio2ContentBox{
    background-color: #e0e0e0;
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.Section2Container h2{
    text-transform: uppercase;
}