.theme{
    position:fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(233, 54, 23);
    right: 50px;
    top: 50px;
    transition: 0.5s;
    /* border-radius: 50px; */
    background: #e0e0e0;
    box-shadow:  -20px -20px 20px #e0e0e9,
    6px 6px 10px rgb(66, 66, 66);
    
}
.theme:hover{
    animation: rotate 0.5s linear infinite;
}
@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    50%{
        box-shadow: none;
        /* box-shadow:  -20px -20px 20px #e0e0e9,
    6px 6px 10px rgb(66, 66, 66); */
    }
    100%{
        transform: rotate(359deg);
    }
}
